@import "hero";
@import "catalog";
@import "recom";
@import "brands";
@import "reviews";
@import "love";

.home-main {
   position: relative;
   z-index: 9;
   .home-hero {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
   }
}
.home-page {
   background-color: #fcfcfc;
   position: relative;
   z-index: 99;
}
