.catalog-hero {
   margin-top: 32px;
   // .catalog-hero__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @media (max-width: $tablet) {
         gap: 24px;
      }
   }

   // .catalog-hero__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @media (max-width: $tablet) {
         gap: 24px;
      }
   }

   // .catalog-hero__title

   &__title {
      display: flex;
      align-items: flex-end;
      gap: 12px;
      span {
         &:nth-child(1) {
            color: $black;
            @media (max-width: $mobile) {
               @include h2-mobile;
            }
         }
         &:nth-child(2) {
            color: $black-15;
            @media (max-width: $mobile) {
               @include h4-mobile;
            }
         }
      }
   }

   // .catalog-hero__description

   &__description {
      max-width: 711px;
      @include body-text;
   }

   // .catalog-hero__filters

   &__filters {
   }
}
.catalog-filters {
   display: flex;
   flex-direction: column;
   gap: 16px;
   // .catalog-filters__upper

   &__upper {
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--black-15, rgba(0, 0, 0, 0.15));
      @media (max-width: $tablet) {
         padding-top: 0;
      }
      @media (max-width: $mobile) {
         gap: 8px;
         justify-content: unset;
      }
   }
   &__left {
      display: flex;
      gap: 8px;
      & > .btn {
         width: 140px;
         height: 48px;
         flex: 0 0 140px;
         white-space: nowrap;
         @media (max-width: $mobile) {
            height: 40px;
            width: 132px;
            flex: 0 0 132px;
         }
      }
      .app-select {
         flex: 0 0 134px;
         .select__title {
            span span {
               margin-left: 20px;
            }
         }
      }
      @media (max-width: $tablet) {
         #brandSelect,
         #priceSelect,
         #colorSelect {
            display: none;
         }
      }
   }
   &__right {
      display: flex;
      gap: 32px;
      @media (max-width: $mobile) {
         flex: 1;
         justify-content: space-between;
      }
      .rect {
         --size: 14px;
         background: rgba(0, 0, 0, 0.15);
         transition: $transition;
      }
      & > ul {
         display: flex;
         align-items: center;
         gap: 4px;
         li {
            flex: 0 0 32px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         input {
            display: none;
         }
         label {
            width: 32px;
            height: 32px;
            flex: 0 0 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg rect {
               transition: $transition;
               opacity: 0.3;
               fill: $black-50;
            }
            &:has(input:checked) {
               svg rect {
                  opacity: 1;
                  fill: $black;
               }
               .rect {
                  background-color: $black;
               }
            }
         }
      }
   }

   // .catalog-filters__tabs

   &__tabs {
      gap: 4px;
      margin-left: calc(-1 * var(--container));
      margin-right: calc(-1 * var(--container));
      padding-left: calc(1 * var(--container));
      padding-right: calc(1 * var(--container));
      width: 100vw;
      overflow: auto;
      display: flex;
      input {
         display: none;
      }
      label {
         padding: 0 12px;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         height: 37px;
         color: var(--black-100, #182126);
         text-align: center;
         font-family: $fontFirs;
         font-size: 14px;
         font-style: normal;
         font-weight: 450;
         line-height: 150%; /* 21px */
         letter-spacing: -0.14px;
         transition: $transition;
         border-radius: 4px;
         white-space: nowrap;
         @media (hover: hover) {
            &:hover {
               background-color: $black-15;
            }
         }
         &:has(input:checked) {
            background-color: $black-15;
         }
      }
   }
   .color-content {
      padding: 24px;
      width: 305px;
      display: flex;
      gap: 40px;
      ul {
         display: flex;
         flex-direction: column;
         gap: 8px;
         li:first-child {
            margin-bottom: 4px;
         }
         input {
            display: none;
         }
         label {
            height: 21px;
            display: flex;
            align-items: center;
            gap: 8px;
            div {
               width: 16px;
               height: 16px;
               flex: 0 0 16px;
               display: flex;
               align-items: center;
               justify-content: center;
               svg {
                  transition: $transition;
                  opacity: 0;
               }
            }
            &:has(input:checked) {
               div {
                  svg {
                     opacity: 1;
                  }
               }
            }
         }
      }
   }
   .sort-select {
      width: 223px;
      flex: 0 0 223px;
      &.filled {
         .select__title {
            button {
               display: none;
            }
            .hint {
               display: block;
            }
            svg {
               display: block;
               path {
                  fill: $black;
               }
            }
            background-color: $white;
            color: $black;
         }
      }
      .select {
         &__content {
            width: 100%;
            padding: 0;
         }
         &__list {
            display: flex;
            gap: 0;
            flex-direction: column;
         }
         &__item {
            padding: 8px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--black-100, #182126);
            text-align: center;
            font-family: $fontIntr;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 19.5px */
            text-transform: uppercase;
            position: relative;
            &::before {
               display: none;
            }
            &::after {
               position: absolute;
               opacity: 0;
               right: 0;
               left: unset;
               right: 12px;
               background-image: url(../img/icons/orangecheck.svg);
               width: 20px;
               height: 20px;
            }
            &.selected {
               &::after {
                  opacity: 1;
               }
            }
         }
         &__title {
            span {
               display: flex;
               align-items: center;
               gap: 4px;
               &:has(.hint) {
                  position: relative;
                  pointer-events: all;
                  overflow: visible;
               }
               .hint {
                  translate: 0 1px;
                  flex: 0 0 14px;
                  width: 14px;
                  height: 14px;
                  rotate: 0deg !important;
                  z-index: 1;
                  p {
                     bottom: 25px;
                     left: -138px;
                     border-radius: 4px;
                     position: absolute;
                     width: 289px;
                     padding: 12px;
                     background-color: $black;
                     color: $white;
                     @include caption;
                     opacity: 0;
                     pointer-events: none;
                     &::after {
                        content: "";
                        clip-path: polygon(50% 35%, 0 0, 100% 0);
                        display: block;
                        position: absolute;
                        top: 99%;
                        left: 50%;
                        translate: -50% 0;
                        background-color: $black;
                        width: 20px;
                        height: 20px;
                     }
                  }
                  svg path,
                  p {
                     transition: $transition;
                  }
                  @media (hover: hover) {
                     &:hover {
                        p {
                           opacity: 1;
                           pointer-events: all;
                        }
                        svg path {
                           fill-opacity: 1;
                        }
                     }
                  }
                  svg {
                     rotate: 0deg !important;

                     width: 100%;
                     height: 100%;
                     flex: 0 0 100%;
                  }
               }
            }
         }
      }
      @media (max-width: $mobile) {
         width: 40px;
         flex: 0 0 40px;
         height: 40px;
         .select {
            &__title {
               span,
               svg {
                  display: none !important;
               }
               background-color: $white !important;
               width: 40px;
               height: 40px;
               flex: 0 0 40px;
               display: flex;
               align-items: center;
               justify-content: center;
               &::after {
                  content: "";
                  display: block;
                  width: 24px;
                  height: 24px;
                  background: url(../img/icons/sort.svg) center / contain
                     no-repeat;
               }
            }
            &__content {
               width: 180px;
            }
         }
      }
   }
   .price-select {
      .select {
         &__content {
            width: 313px;
            padding: 28px 24px;
         }
      }
   }
}
.filters-modal {
   // .filters-modal__content
   &.open {
      .modal__content {
         translate: 0;
      }
   }
   &__content {
      transition: $transition;
      width: 390px;
      right: var(--container);
      top: 56px;
      bottom: 20px;
      display: flex;
      flex-direction: column;
      translate: 0 20px;
      @media (max-width: $tablet) {
         width: unset;
         left: var(--container);
         top: 20px;
         bottom: 20px;
      }
   }

   // .filters-modal__header

   &__header {
      padding: 20px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--black-15, rgba(0, 0, 0, 0.15));
      button {
         width: 24px;
         height: 24px;
         flex: 0 0 24px;
      }
   }

   // .filters-modal__main

   &__main {
      flex: 1;
   }
   &__block {
      .color-content {
         padding: 0;
      }
      &:nth-child(1) {
         .filters-modal__subheader {
            border: 0;
         }
      }
   }
   &__subheader {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--black-15, rgba(0, 0, 0, 0.15));
      transition: $transition;
      svg {
         transition: $transition;
         transform-origin: center;
      }
      &.active {
         svg {
            rotate: 180deg;
         }
      }
      // &.active {
      //    border-color: transparent;
      // }
      p {
         display: flex;
         align-items: center;
         gap: 12px;
         text-align: center;
         font-family: $fontIntr;
         font-size: 13px;
         font-style: normal;
         font-weight: 400;
         line-height: 150%; /* 19.5px */
         text-transform: uppercase;
         span:nth-child(1) {
            color: $black;
         }
         span:nth-child(2) {
            color: $orange;
         }
      }
   }
   &__brands {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 8px;
      column-gap: 56px;
   }
   &__collapse {
      & > div {
         padding: 20px;
         padding-top: 0;
      }
   }
   &__tembrs {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
   // .filters-modal__footer

   &__footer {
      position: sticky;
      background-color: #e8e8e8;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      .btn {
         width: 100%;
      }
      .transparent {
         background-color: #e8e8e8;
         &::before {
            background-color: #e8e8e8;
         }
      }
      padding: 20px;
   }
}
.catalog-products {
   margin-top: 32px;

   &__wrapper {
      --columnGap: 12px;
      --rowGap: 40px;
      display: flex;
      flex-wrap: wrap;
      & > * {
         flex: 0 0 calc((100% - 3 * var(--columnGap)) / 4);
         @media (max-width: $tablet) {
            flex: 0 0 calc((100% - 2 * var(--columnGap)) / 3);
         }
         @media (max-width: $mobile) {
            flex: 0 0 calc((100% - var(--columnGap)) / 2);
         }
      }
      & > .sale-banner {
         @media (max-width: $tablet) {
            flex: 0 0 calc((100% - 1 * var(--columnGap)) / 3 * 2);
         }
         @media (max-width: $mobile) {
            flex: 0 0 100%;
         }
      }
      & > .catalog-image {
         @media (max-width: $mobile) {
            flex: 0 0 100%;
         }
      }
      column-gap: var(--columnGap);
      row-gap: var(--rowGap);
      @media (max-width: $tablet) {
         // grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $mobile) {
         // grid-template-columns: repeat(2, 1fr);
         --rowGap: 32px;
         --columnGap: 8px;
      }
   }
   &.row {
      .catalog-products {
         &__wrapper {
            // grid-template-columns: repeat(2, 1fr);
            & > * {
               flex: 0 0 calc((100% - var(--columnGap)) / 2);
               @media (max-width: $tablet) {
                  width: calc(
                     (100vw - 2 * var(--container) - var(--columnGap)) / 2
                  );
               }
               @media (max-width: $mobile) {
                  flex: 0 0 100%;
               }
            }

            --columnGap: 16px;
            .product-card__image {
               height: 500px;
               @media (max-width: $tablet) {
                  height: 470px;
               }
            }
            @media (max-width: $tablet) {
               grid-template-columns: repeat(2, 1fr);
               --columnGap: 12px;
               --rowGap: 40px;
            }
            @media (max-width: $mobile) {
               grid-template-columns: repeat(1, 1fr);
               --rowGap: 32px;

               & > * {
                  grid-column: unset;
               }
            }
         }
      }
   }
   .product-card__color {
      background-color: #f2f2f2;
   }
}
.catalog-image {
   height: 526px;
   @media (max-width: $tablet) {
      grid-column: span 2;
      height: 526px;
   }
   @media (max-width: $mobile) {
      height: 500px;
   }
   border-radius: 8px;
   overflow: hidden;
   position: relative;
   // .catalog-image__link
   & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__link {
      position: absolute;
      right: 12px;
      top: 12px;
      height: 56px;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px;
      padding-left: 12px;
      border-radius: 4px;
      background: var(--white-55, rgba(255, 255, 255, 0.55));

      /* blur 16 */
      backdrop-filter: blur(8px);
      div:not(.rect) {
         width: 32px;
         height: 32px;
         flex: 0 0 32px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
      .rect {
         --size: 48px;
         border-radius: 2px;
         border: 1px solid var(--black-5, rgba(0, 0, 0, 0.05));
         background: var(--white-100, #fff);
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            width: 36px;
            height: 28px;
            object-fit: contain;
         }
      }
   }
}
.sale-banner {
   background-color: $orange;
   display: flex;
   flex-direction: column;
   position: relative;
   padding: 16px;
   border-radius: 8px;
   // .sale-banner__text
   @media (max-width: $tablet) {
      // grid-column: span 2;
      height: 526px;
   }
   @media (max-width: $mobile) {
      height: 500px;
   }
   &__text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      span:nth-child(1) {
         @media (max-width: 1440px) {
            font-size: calc(30px + 20 * ((100vw - 1024px) / (1440 - 1024)));
         }
         @media (max-width: $tablet) {
            font-size: 46px;
         }
         @media (max-width: $mobile) {
            font-size: 26px;
         }
      }
      span:nth-child(2) {
         color: var(--black-100, #182126);
         font-family: $fontIntr;
         font-size: 20px;
         font-style: normal;
         font-weight: 400;
         line-height: 100%; /* 20px */
         letter-spacing: -0.22px;
      }
   }

   // .sale-banner__images

   &__images {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 264px;
      max-width: 60%;
      aspect-ratio: 1;
      .active {
         opacity: 1;
      }
      img {
         transition: 0.2s;
         opacity: 0;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
      }
   }
   .btn {
      position: absolute;
      left: 12px;
      bottom: 12px;
   }
}
.catalog-faq {
   margin-top: 20px;
   // .catalog-faq__wrapper
   &__wrapper {
      padding: 20px;
      border-radius: 8px;
      border: 1px solid var(--black-5, rgba(0, 0, 0, 0.05));
      background: var(--white-55, rgba(255, 255, 255, 0.55));
      display: flex;
      justify-content: space-between;
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 48px;
      }
      @media (max-width: $mobile) {
         padding: 20px 12px;
         gap: 28px;
      }
   }

   // .catalog-faq__tag

   &__tag {
      color: $white;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 8px;
      border-radius: 4px;
      background: var(--black-100, #182126);
      color: var(--white-100, #fff);
      text-align: center;
      font-family: $fontIntr;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 12px */
      letter-spacing: -0.132px;
      text-transform: uppercase;
      width: fit-content;
   }

   // .catalog-faq__list

   &__list {
      flex: 0 1 1027px;
      display: flex;
      flex-direction: column;
      width: 100%;
      cursor: none;
      position: relative;
      @media (max-width: $tablet) {
         flex: unset;
      }
   }

   // .catalog-faq__item

   &__item {
      border-bottom: 1px solid var(--black-15, rgba(0, 0, 0, 0.15));
      width: 100%;
   }

   &__cursor {
      // transition: opacity 0.3s;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 28px;
      opacity: 0;
      @media (max-width: $tablet) {
         display: none;
      }
      &.show {
         opacity: 1;
      }
      &.active {
         .hor {
            opacity: 0;
         }
      }
      svg,
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .catalog-faq__header

   &__header {
      padding: 20px 0;
      @media (max-width: $tablet) {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 20px;
      }
      &.active {
         .hor {
            opacity: 0;
         }
      }
      svg {
         display: none;
         @media (max-width: $tablet) {
            display: block;
         }
         @media (max-width: $mobile) {
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
         }
      }
   }

   // .catalog-faq__title

   &__title {
      @media (max-width: $tablet) {
         font-size: 20px;
      }
      @media (max-width: $mobile) {
         font-size: 14px;
      }
   }

   // .catalog-faq__spoiler

   &__spoiler {
   }
   &__content {
      max-width: 812px;
      color: $black-70;
      padding-bottom: 20px;
      padding-top: 8px;
   }
}
.rent-hero {
   margin-top: 12px;
   margin-bottom: 88px;
   @media (max-width: $tablet) {
      margin-bottom: 72px;
   }
   @media (max-width: $mobile) {
      margin-bottom: 60px;
   }
   // .rent-hero__wrapper

   &__wrapper {
      display: flex;
      gap: 12px;
      @media (max-width: $tablet) {
         flex-direction: column-reverse;
         gap: 8px;
      }
   }

   // .rent-hero__main

   &__main {
      flex: 0 0 576px;
      border-radius: 8px;
      border: 1px solid var(--black-5, rgba(0, 0, 0, 0.05));
      background: var(--white-100, #fff);
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 118px;
      .home-hero__pagination {
         position: relative;
         left: unset;
         bottom: unset;
         margin: unset;
         .active {
            .circle {
               background-color: $black;
            }
         }
         .circle {
            background-color: $black-15;
         }
      }
      @media (max-width: $tablet) {
         flex: unset;
         padding: 24px;
         gap: 60px;
         flex-direction: column-reverse;
      }
      @media (max-width: $mobile) {
         padding: 12px;
         gap: 40px;
      }
   }

   // .rent-hero__info

   &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .btn {
         &.hidden {
            opacity: 0;
            pointer-events: none;
         }
      }
      @media (max-width: $mobile) {
         gap: 28px;
         .btn {
            width: 100%;
            order: 3;
         }
      }
   }

   // .rent-hero__title

   &__title {
      p {
         display: inline-block;
         overflow: hidden;
      }
      span {
         display: inline-block;
      }
      @media (max-width: $mobile) {
         @include h2-mobile;
      }
   }

   // .rent-hero__list

   &__list {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: end;
      @media (max-width: $tablet) {
         margin-top: 8px;
         gap: 16px;
      }
      @media (max-width: $mobile) {
         margin: 0;
         order: 2;
      }
      li {
         overflow: hidden;
         display: flex;
         align-items: center;
         gap: 28px;
         span {
            display: inline-block;
         }
         &::before {
            content: "";
            display: block;
            width: 28px;
            height: 28px;
            flex: 0 0 28px;
            background: url(../img/catalog/rent/hero-icon.svg) center / 100%
               100% no-repeat;
         }
         @media (max-width: $mobile) {
            gap: 12px;
         }
      }
   }

   // .rent-hero__visual

   &__visual {
      flex: 1;
      border-radius: 8px;
      overflow: hidden;
      .swiper {
         height: 100%;
      }
      img,
      video {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
.catalog-rent {
   margin-top: 0 !important;
}
.modal {
   // .modal__content

   &__content {
   }

   // .modal__close

   &__close {
   }
}
.rent-modal {
   // .rent-modal__content

   &__content {
      max-width: 390px;
      right: var(--container);
      top: 56px;
      height: fit-content;
      @media (max-width: $tablet) {
         top: 50%;
         max-width: calc(100% - 2 * var(--container));
         left: var(--container);
         translate: 0 -50% !important;
      }
   }

   // .rent-modal__header

   &__header {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #000;
      text-align: center;
      font-family: $fontIntr;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 19.5px */
      letter-spacing: -0.143px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   }

   // .rent-modal__main

   &__main {
      padding: 20px;

      display: flex;
      flex-direction: column;
      gap: 8px;
      .btn {
         width: 100%;
      }
      .home-hero__check {
         color: #4c4c4c;
         a {
            color: #4c4c4c;
            border-color: #4c4c4c;
         }
      }
      .body-text {
         color: $black-50;
      }
   }
}
.favorites-title {
   display: flex;
   align-items: flex-start;
   sup {
      color: var(--brand-orange, #ff8522);
      text-align: center;
      font-family: $fontFirs;
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: 110%; /* 17.6px */
      letter-spacing: -0.16px;
   }
}
.favorites-filters {
   display: flex;
   gap: 8px;
   label {
      height: 48px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      gap: 24px;
      color: var(--black-100, #182126);
      text-align: center;
      font-family: $fontIntr;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 19.5px */
      letter-spacing: -0.143px;
      text-transform: uppercase;
      transition: 0.3s;
      border-radius: 4px;
      background: var(--white-100, #fff);
      a {
         height: 16px;
         width: 16px;
      }
      svg path {
         transition: 0.3s;
      }
      input {
         display: none;
      }
      &:has(input:checked) {
         background-color: $black;
         color: $white;
         svg path {
            stroke: $white;
         }
      }
   }
   @media (max-width: $tablet) {
      display: none;
   }
}
.remove-modal {
   &__main {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      ul {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 10px;
         .btn {
            width: 100%;
         }
      }
   }
}
.favorites-header {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   // .favorites-header__share

   &__share {
      display: flex;
      gap: 8px;
      align-items: center;
      width: fit-content;
      @include text-16;
      color: rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      .icon-btn {
         width: 24px;
         height: 24px;
         flex: 0 0 24px;
         background-color: #e6e6e6;
         &::after {
            background-color: $black;
         }
      }
      @media (hover: hover) {
         &:hover {
            color: $black;
            .icon-btn {
               &::after {
                  height: 110%;
               }
               svg path {
                  fill: $white;
               }
            }
         }
      }
      @media (max-width: $tablet) {
         span {
            display: none;
         }
         .icon-btn {
            width: 32px;
            height: 32px;
            flex: 0 0 32px;
         }
      }
   }
   &__btns {
      display: flex;
      gap: 16px;
   }
   &__remove {
      display: none;
      @media (max-width: $tablet) {
         display: flex;
         width: 32px;
         height: 32px;
         flex: 0 0 32px;
         background-color: $black-5;
         border-radius: 4px;
      }
   }
}
.favorites-select {
   display: none;
   @media (max-width: $tablet) {
      display: block;
      .select {
         &__title {
            height: 48px;
         }
      }
   }
   @media (max-width: $mobile) {
      .select {
         &__title {
            height: 40px;
         }
         &__list {
            display: flex;
            flex-direction: column;
         }
      }
   }
}
.favor-empty {
   display: flex;
   flex-direction: column;
   gap: 24px;
   .body-text {
      svg {
         translate: -2px 8px;
      }
   }
}
